{% extends 'layout.html' %}

{% block title %}Профиль{% endblock %}

{% block content %}




<h2>Профиль</h2>
<div>
    <p>Информация о выбранном человеке:</p>
    <table>
        <tr>
            <td>Логин:</td>
            <td>{{ account['username'] }}</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>{{ account['password'] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ account['email'] }}</td>
        </tr>
        <tr>
            <td>Имя:</td>
            <td>{{ account['name'] }}</td>
        </tr>
        <tr>
            <td>Фамилия:</td>
            <td>{{ account['surname'] }}</td>
        </tr>
        <tr>
            <td>Возраст:</td>
            <td>{{ account['age'] }}</td>
        </tr>
        <tr>
            <td>Пол:</td>
            <td>{{ account['gender'] }}</td>
        </tr>
        <tr>
            <td>Интересы:</td>
            <td>{{ account['interest'] }}</td>
        </tr>
        <tr>
            <td>Город:</td>
            <td>{{ account['city'] }}</td>
        </tr>

     
        

    </table>




    
    <form action="" method="post" novalidate>

        {{ form.hidden_tag() }}
        {{ form.submit() }}
        <br>
    </form>


</div>
{% endblock %}