{% extends 'layout.html' %}

{% block title %}Профиль{% endblock %}

{% block content %}


<h2>Профиль</h2>
<div>
    <p>Информация о вашем друге:</p>
    <table>
        <tr>
            <td>Логин:</td>
            <td>{{ account['username'] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ account['email'] }}</td>
        </tr>
        <tr>
            <td>Имя:</td>
            <td>{{ account['name'] }}</td>
        </tr>
        <tr>
            <td>Фамилия:</td>
            <td>{{ account['surname'] }}</td>
        </tr>
        <tr>
            <td>Возраст:</td>
            <td>{{ account['age'] }}</td>
        </tr>
        <tr>
            <td>Пол:</td>
            <td>{{ account['gender'] }}</td>
        </tr>
        <tr>
            <td>Интересы:</td>
            <td>{{ account['interest'] }}</td>
        </tr>
        <tr>
            <td>Город:</td>
            <td>{{ account['city'] }}</td>
        </tr>
   
    
    </table>

    <p>Чат с другом: </p>
    {% for item in dialog %}
    
    <li>{{item['message_date']}} <p> {{item['name']}} {{item['message_to']}}  {{item['message_text']}}  </a></li>
    <br>
        
    {% endfor %}
   
   
    <form action="{{ url_for('displayfriend') }}" method="post">
        <input type="hidden" name="friend_id" value={{ account['id'] }}>
        <input type="text" name="chat_text" id="chat_text">
        <input type="submit" value="Написать">
        </form>
   



</div>
{% endblock %}