{% extends 'layout.html' %}

{% block title %}Профиль{% endblock %}

{% block content %}


<h2>Профиль</h2>
<div>
    <p>Информация о вашем друге:</p>
    <table>
        <tr>
            <td>Логин:</td>
            <td>{{ account['username'] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ account['email'] }}</td>
        </tr>
        <tr>
            <td>Имя:</td>
            <td>{{ account['name'] }}</td>
        </tr>
        <tr>
            <td>Фамилия:</td>
            <td>{{ account['surname'] }}</td>
        </tr>
        <tr>
            <td>Возраст:</td>
            <td>{{ account['age'] }}</td>
        </tr>
        <tr>
            <td>Пол:</td>
            <td>{{ account['gender'] }}</td>
        </tr>
        <tr>
            <td>Интересы:</td>
            <td>{{ account['interest'] }}</td>
        </tr>
        <tr>
            <td>Город:</td>
            <td>{{ account['city'] }}</td>
        </tr>
        <tr>
            <td>Город:</td>
            <td>{{ account['id'] }}</td>
        </tr>
    
    </table>




    <p>Чат с другом: </p>
    {% for item in dialog %}
    
    <li>{{item['message_date']}} <p> {{item['name']}} {{item['message_to']}}  {{item['message_text']}}  </a></li>
    <br>
        
    {% endfor %}
    

      
        
    <form action="" method="post" novalidate>

        {{ form.hidden_tag() }}
        {{ form.chat_text.label }}
        <br>
            {% for error in form.chat_text.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        <br>
        {{ form.chat_text(cols="100", rows="10") }}
     

        <br>
        {{ form.submit() }}
        <br>
    </form>

   




</div>
{% endblock %}