{% extends 'layout.html' %}

{% block title %}Домашняя страница{% endblock %}

{% block content %}
<h2>Home Page</h2>
<p>Добро пожаловать {{ account['name'] }} {{ account['surname'] }}!</p>

<p>Новсти ваших новости:</p>

{% for item in news %}

<li>{{item['news_date']}} {{item['news_text']}}</a></li>
<br>
{% endfor %}

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    {{ form.news_text.label }}
    <br>
        {% for error in form.news_text.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    <br>
    {{ form.news_text(cols="100", rows="10") }}

    <br>
    {{ form.submit() }}
</form>




<p>Ваши друзья:</p>

{% for item in friends %}

<li><a href="displayfriend?friend_id={{item['id']}}">{{item['name']}} {{item['surname']}}</a></li>
<br>
  

{% endfor %}

{% endblock %}