<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
		
	</head>
	<body class="loggedin">
		<nav class="navtop">
			<div>
				<h1>Website Title</h1>
                <a href="{{ url_for('home')}}"><i class="fas fa-home"></i>Домой</a>
                <a href="{{ url_for('profile')}}"><i class="fas fa-user-circle"></i>Профиль</a>         
                <a href="{{ url_for('displaypeople')}}"><i class="fas fa-search"></i>Поиск людей</a>
				<a href="{{ url_for('logout')}}"><i class="fas fa-sign-out-alt"></i>Выход</a>
			</div>
		</nav>
		<div class="content">

			<!-- {% with messages = get_flashed_messages() %}
			{% if messages %}
			<ul>
				{% for message in messages %}
				<li>{{ message }}</li>
				{% endfor %}
			</ul>
			{% endif %}
			{% endwith %}
			 -->
			{% block content %}{% endblock %}
		</div>
	</body>
</html>