{% extends 'layout.html' %}

{% block title %}Домашняя страница{% endblock %}

{% block content %}
<h2>Home Page</h2>


<p>Последние новости друзей:</p>







<div id="news_block"> </div>

{% for item in news_stream %}


<li >{{item['news_date']}} {{item['author_name']}}   {{item['news_text']}}</li>

{% endfor %}

<script>
  var ws = new WebSocket('ws://172.29.44.74:5001/?user_id={{id}}'),
      messages = document.createElement('li');
      ws.onmessage = function (event) {
         var message = document.createElement('li'),
          content = document.createTextNode(event.data);
          message.prepend(content);
          messages.prepend(message);
      };
   news_block.after(messages);
</script>


<p>Все новости:</p>


{% for item in news %}


<li>{{item['news_date']}} {{item['author_name']}}   {{item['news_text']}}</li>

{% endfor %}








  


{% endblock %}

