{% extends 'layout.html' %}

{% block title %}Домашняя страница{% endblock %}

{% block content %}
<h2>Home Page</h2>


<!-- <script type="text/javascript">
    var ws = new WebSocket('ws://' + document.domain + ':' + 5001 + '/ws');
    ws.onmessage = function (event) {
      var messages_dom = document.getElementsByTagName('ul')[0];
      var message_dom = document.createElement('li');
      var content_dom = document.createTextNode('Received: ' + event.data);
      message_dom.appendChild(content_dom);
      messages_dom.appendChild(message_dom);
    };

    // var button = document.getElementsByTagName('button')[0];
    // button.onclick = function() {
    //   var content = document.getElementsByTagName('input')[0].value;
    //   ws.send(content);
    // };
  </script> -->

<p>Последние новости друзей:</p>



<p>Все новости:</p>


<p> !!!!!!!!!!!!!!!!!!</p>


{% for item in news_stream %}


<li>{{item['news_date']}} {{item['author_name']}}   {{item['news_text']}}</li>

{% endfor %}





  


{% endblock %}

